<html lang="en">

<head></head>

<body>
    <div>
        <h1 style="color: #222222;margin: 7px 0">Hey {{ to.name }},</h1>
        <h3 style="color: #444444;margin: 7px 0"></h3>
        <div style="padding: 17px;box-sizing: border-box; background-color: #F5F5F5;width: 100%;">
            <p style="color: #555d66;margin: 4px 0;">Your One-Time Password (OTP) is <strong>{{ otp }}</strong></p>
        </div>
    </div>

</body>

</html>