<!DOCTYPE html>
<html lang='en'>

<head>
	<style>
		.main {
			background-color: #4DC8AD;
		}

		.container {
			background-color: #e0ebe8;
			max-width: 550px;
			margin: 0 auto;
			padding: 25px;
		}

		.main-container {
			background-color: #e0ebe8;
			max-width: 550px;
			margin: 0 auto;
			padding: 5px;
			text-align: center;
		}

		p:last-of-type {
			font-size: 14px;
		}

		.img {
			width: 80px;
			height: 80px;
			margin: 0 auto;
			padding: 1px;
		}

		.btn {
			background-color: #4DC8AD;
			color: white;
			padding: 10px 20px;
			text-decoration: none;
			display: inline-block;
			margin: 20px 0;
		}
	</style>
</head>

<body class="main">
	<div class="container">
		<div class="img-box">
			<img class="img" src="https://pixabay.com/vectors/otp-verification-select-verified-7983327/" alt="Verification logo">
		</div>
		<div class="main-container">
			<h3 style='color: #444444; text-align: left;'>Dear {{adminName}},</h3>

			<p style="text-align: left;">Thank you for registering with {{churchName}}. To complete your registration and verify your email address, please click the button below:</p>

			<a href="{{verificationLink}}" class="btn">Verify Email</a>

			<p style="text-align: left;">If you didn't request this verification, please ignore this email or contact our support team.</p>

			<p style="text-align: left;">Best regards,<br>{{churchName}} Team</p>

			<hr>
			<p style="font-size: 12px; margin: 0"> © 2024 Church Hub<sup> ® </sup>, All Rights Reserved</p>
			<p style="font-size: 12px; margin: 0">Plot 851, Samuel Baker Road, Kampala, Uganda</p>
			<p style="font-size: 12px; margin: 0;">
				<a style="color: black" href="#">Contact Us</a>
				.
				<a style="color: black" href="#">Privacy Policy</a>
			</p>

		</div>
	</div>
</body>

</html>